<section id="banner" class="major" style="margin-bottom:50px">
    <div class="inner">
        <span class="image">
            <img src="https://easytravel.blob.core.windows.net/images/maintravel.jpg" alt="" />
        </span>
        <header class="major">
            <h1>Welcome to EasyTravel</h1>
        </header>
        <div class="content">
            <p>
                We create transformative experiences that offer life changing moments and help fulfill that deep seated urge for connection and learning. <br /> Where will your wanderlust take you?
            </p>
            <ul class="actions">
                <li><a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="" class="button next scrolly">Get Started</a></li>
            </ul>
        </div>
    </div>
</section>