<section id="one" class="tiles">
    <a name="Services"></a>
    <article>
        <span class="image">
            <img src="images/pic01.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="landing.html" class="link">Guided</a></h3>
            <p>Come with us as we guide you through some of the most incredible and transformative travel experiences curated by our service driven teams to ensure that all of your needs are taken care of so that you can focus on whats important; truly connecting to the people and places you visit and explore.</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="images/pic02.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="landing.html" class="link">Next-Gen</a></h3>
            <p>Travel is as much about you as the places you visit. Through learning new ways of life and discovering the transformative cultural and natural experiences our world offers, we also learn about ourselves, our dreams and aspirations. Wanderlust starts in the soul and with our brands for the young and young at heart we help ignite it.</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="images/pic03.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="landing.html" class="link">Luxury</a></h3>
            <p>Designed with elegance and care with you always at the heart of our thinking, we believe and follow the philosophy of ‘No request too large, no detail too small’. From our boutique luxury hotel collection to our boutique river cruise collection or our luxury guided travel offerings we always provide the most incredible, tailor made and sought after luxury travel experiences. You will never be able to see the world in another way.</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="images/pic04.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="landing.html" class="link">River cruising</a></h3>
            <p>We are proud to offer the world’s only authentic boutique luxury river cruise lines. River cruising with us combines the pleasure of discovering new places each day all while enjoy the luxury accommodation we have made renowned through The Red Carnation Hotel Collection. A boutique luxury hotel on the water as you peacefully sail away to destinations you have always dreamed of exploring. Experience something truly remarkable today.</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="images/pic05.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="landing.html" class="link">Family</a></h3>
            <p>As a fourth-generation family owned company, we truly understand the importance of sharing wondrous moments with those we hold special in our lives. The ability to learn and experience new cultures and places together creates life-long memories and bonds that change us forever. Discover the world as a family and create cherished memories with one of our award-winning brands.</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="images/pic06.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="landing.html" class="link">Sightseeing</a></h3>
            <p>Our sightseeing day tours include the ‘must sees and do’s’ of a destination to help you cross some of those travel wishes off your list and will also help you discover more things to add on. Our award-winning brands help you get off the beaten path and explore spectacular historical destinations and nature’s treasures in the way you want to.</p>
        </header>
    </article>
</section>