<section id="two">
    <div class="inner">
        <header class="major">
            <h2>About us</h2>
        </header>
        <p>Our philosophy is simple. To create enriching experiences for travelers by combining an unbeatable mix of exceptional service and quality at great value. At the heart of everything we do is our passion to provide industry leading service and quality so that our guests can focus on the most important thing; the transformative and immersive travel experiences we offer around the world. Through our sustainability efforts and vision to Make Travel Matter, taking care of our people and guests and constantly innovating on new ways to Make Travel Personal, we exist to create life-changing moments for every guest who travels with any of our 40 award-winning brands.</p>
        <ul class="actions">
            <li><a href="landing.html" class="button next">Get Started</a></li>
        </ul>
    </div>
</section>