@model ServiceItem
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<body class="is-preload">


        <!-- Main -->
        <div id="main" class="alt">

            <!-- One -->
            <section id="one">
                <div class="inner">
                    <header class="major">
                        <h1>@Model.Title</h1>
                    </header>
                    <span class="image main"><img src="https://easytravel.blob.core.windows.net/images/@Model.TitleImagePath" alt="" /></span>
                    <p>@Html.Raw(Model.Text)</p>
                </div>
            </section>

        </div>


</body>
